#
# Shared settings
#
ADDRESS="localhost:8080"
FTP_ADDRESS="0.0.0.0:2022"
DSN="host=localhost dbname=ftpslurper user=ftpslurper password=password port=5432 sslmode=disable"
PAGE_SIZE="25"

# 
# DB settings for Docker
#
POSTGRES_DB="ftpslurper"
POSTGRES_PASSWORD="password"
POSTGRES_USER="ftpslurper"

